* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(34, 9, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 10, 65);
    padding: 30px;
}

.left {
    font-size: 1.5rem;
}

.right {
    display: flex;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16.5px;
}

nav ul li a:hover {
    color: rgb(176, 146, 176);
    font-size: 1.02rem;
}

.right ul i {
    font-size: 25px;
    font-weight: 500;
    display: none;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        align-items: start;
        gap: 50px;
    }

    nav ul a {
        flex-direction: column;
        display: none;
    }

    .right ul i {
        display: block;
    }
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    gap: 30px;
    width: 90%;
}

.leftSection {
    font-size: 2.5rem;
    align-items: center;
}

img {
    width: 40%;
    align-items: center;

}

@media (max-width:700px) {
    .firstSection {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    img {
        width: 70%;
        align-items: center;

    }
}

.grey {
    color: rgb(198, 111, 199);
}

#element {
    color: rgb(151, 144, 150);

}

.leftSection .btn {
    font-size: 20px;
    background-color: rgb(63, 22, 63);
    color: white;
    border: 2px solid white;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
}

.secondSection h1 {
    font-size: 1.6rem;

}

.text-blue {
    color: rgb(213, 47, 213);
}

.secondSection .vertical {
    height: 120px;
    width: 1.5px;
    background-color: white;
    margin: 0 170px;
}

.image-top {
    width: 30px;
    position: relative;
    top: -31px;
    left: -13px;
}

.vertical-title {
    position: relative;
    top: 90px;
    width: 150px;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: rgb(43, 26, 44);
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.fotter>div {
    width: 253px;
}

footer .footer-rights {
    text-align: center;
    background-color: rgb(39, 5, 47);
    padding: 20px;
}

footer .footer-rights div,
a {
    font-size: 30px;
    color: white;
    gap: 10px;
    text-decoration: none;
}


@media (max-width:500px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}

.secondSection #box1,
.secondSection #box2 {

    width: 100%;
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
    margin-top: 5px;
    justify-content: space-between;
}

.boxA,
.boxB {
    width: 400px;
    display: flex;
    border-radius: 5%;
    background: linear-gradient(to right, rgb(122, 108, 108), rgb(34, 9, 34));
    font-size: 100%;
    padding: 1%;
}

.boxC,
.boxD {
    width: 400px;
    display: flex;
    background-color: rgb(255, 10, 10);
    border-radius: 5%;
    background: linear-gradient(to right, rgb(34, 9, 34), rgb(122, 108, 108));
    font-size: 100%;
    padding: 1%;
}

#line {
    width: 100%;
    height: 1%;
    border: 1.5px solid white;
    margin-bottom: 20px;
}

/* .secondSection #box3{ 
    float: left;
    width: 300px;
    height: 250px;
    margin: 20px
 }
 .secondSection #box3 img{
      height: 100%;
      width: 100%;

 } */
.secondSection #box3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#projects {
    width: 100%;
    height: 1%;
    border: 1.5px solid white;
    margin-bottom: 20px;
}

.thirdSection {
    height: 50vh;
    width: 80vw;
    margin: auto;
    ackground-color: blanchedalmond;

}

.thirdSection h1 {
    font-size: 1.6rem;
    padding-right: 20px;

}

.thirdSection #box4 {
    display: flex;
    height: 45vh;
    width: 45vw;
    ackground-color: aliceblue;
    position: relative;
}

.thirdSection #box5 {
    position: absolute;
    height: 45vh;
    width: 45vw;
    /* padding-top: 70px;
     padding-bottom: 0px; */
    margin-top: 70px;
    margin-left: 50px;
    ackground-color: cadetblue;
    /* box-shadow: -15px -15px 25px rgba(254, 237, 237, 0.2); */

}

.thirdSection #box5 img {
    box-shadow: -10px -10px 0px rgb(34, 9, 34);
}

.fourthSection{
    display: flex;
    justify-content: end;
}
.fourthSection #box6 {
    display: flex;
    height: 45vh;
    width: 45vw;
    backgr ound-color: aliceblue;
    position: relative;
}

.fourthSection #box7 {
    position: absolute;
    height: 45vh;
    width: 45vw;
    /* padding-top: 70px;
    padding-bottom: 0px; */
    margin-top: 70px;
    margin-left: 50px;
    backgr ound-color: cadetblue;
}
.fourthSection #box7 img {
    box-shadow: -10px -10px 0px rgb(34, 9, 34);
}
    /* @media (max-width:500px) {
    .thirdSection{
        flex-direction: column;
         
    }*/